<div id="container">
    <div>
        <div class="col-sm-4 col-md-4" style="background: green; font-weight: bold; text-align: center; color:white;">Name</div>
        <div class="col-sm-4 col-md-4" style="background: green; font-weight: bold; text-align: center; color:white;">Ci</div>
        <div class="col-sm-4 col-md-4" style="background: green; font-weight: bold; text-align: center; color:white;">Code</div>
    </div>
    
    <div ng-repeat="user in $ctrl.listUsers" style="background: white; padding-left: 1em;">
        <user-item user="user"></user-item>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <td class="info" style="font-weight: bold; text-align: center;">Name</td>
        <td class="info" style="font-weight: bold; text-align: center;">Last Name</td>
        <td class="info" style="font-weight: bold; text-align: center;">Age</td>
    </thead>
    
    <!--Directive User-Item-->
    <tbody>
        <tr ng-repeat="user in $ctrl.listUsers" class="info" >
            <user-item  user="user"></user-item>
        </tr>
    </tbody>

</table>