<!--STYLES-->
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    /*.row.content {height: 500px}*/
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      position: absolute;
      background-color: #333;
      color: white;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 15px;
      text-align: center;
      font-size: 16px;
    }

    #accordionGroup {
      padding-left: 0px;
      padding-right: 0px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>

<!--HTML-->
<div class="container-fluid" style="margin-bottom: 100px;">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Options</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active : $ctrl.activeMenuCourse === 'Add'}"><a href ng-click="$ctrl.addOption()">Add Course</a></li>
        <li ng-class="{active : $ctrl.activeMenuCourse === 'List'}"><a href ng-click="$ctrl.listOption()">List Courses</a></li>
      </ul>
      <br>
    </div>

    <div class="col-sm-9 col-md-9">
      <h2><small>{{$ctrl.actionCourseTitle}}</small></h2>
      <hr>

      <div id="addCourse" class="col-sm-offset-1 col-md-offset-1 col-sm-8 col-md-8" ng-if="$ctrl.contentActive === 'Add'">
        <form name="addNewCourse">
          <div class="form-group">
              <label for="nameCourse">*Name:</label>
              <input type="text" class="form-control" id="nameCourse" placeholder="Eg. Human Biology" ng-model="$ctrl.course.name" required>
          </div>
          <div class="form-group">
              <label for="codeCourse">*Code:</label>
              <input type="number" class="form-control" id="codeCourse" placeholder="Eg. 2364" ng-model="$ctrl.course.code" required>
          </div>
          <div class="form-group">
              <label for="gradeCourse">*Grade:</label>
              <input type="text" class="form-control" id="gradeCourse" placeholder="Eg. A" ng-model="$ctrl.course.grade" required>
          </div>
          <div class="form-group">
              <label for="descriptionCourse">Description:</label>
              <input type="text" class="form-control" id="descriptionCourse" placeholder="Eg. Designed for students with an interest in biology." ng-model="$ctrl.course.description">
          </div>

          <p class="alert alert-warning">Fields with simbol (*) are required</p>

          <button type="button" class="btn btn-success" ng-click="$ctrl.createNewCourse($ctrl.course)" ng-disabled="addNewCourse.$invalid">Save Course</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.cancelAddCourse()">Cancel</button>
        </form>
        <div ng-class="'alert alert-' + $ctrl.alertDivContent.type">
          <span>{{$ctrl.alertDivContent.msg}}</span>
        </div>
      </div>
      
      <div id="listCourse" class="col-sm-12 col-md-12" ng-if="$ctrl.contentActive === 'List'">

        <div ng-if="$ctrl.alertDivContent.type === 'success'">
          
          <div class="panel panel-title">
            <div class="row">
              <div class="col-sm-7" style="background: green; font-weight: bold; text-align: center; color:white;">Courses</div>
              <div class="col-sm-5" style="background: green; font-weight: bold; text-align: center; color:white;">Actions</div>
            </div>
          </div>

          <uib-accordion close-others="true">
            <div class="col-md-12 col-sm-12 panel panel-collapse" ng-repeat="course in $ctrl.listCourses track by $index" style="background: white; margin-top: 0px;">
              <div id="accordionGroup" uib-accordion-group class="panel panel-default col-sm-7 col-md-8" is-open="$ctrl.accordionArray[$index]">

                <uib-accordion-heading>
                  <strong>Code: </strong>{{course.code}},  <strong>Name: </strong>{{course.name}}
                </uib-accordion-heading>
                <div class="row col-sm-12 col-md-12">
                  <div><strong>Code: </strong> {{course.code}} </div>
                  <div><strong>Name: </strong> {{course.name}} </div>
                  <div><strong>Grade: </strong> {{course.grade}} </div>
                  <div><strong>Description: </strong> {{course.description}} </div>
                </div>

              </div>
              <div class="col-sm-5 col-md-4" style="display: flex; justify-content: space-around;">
                <button class="pull-right btn btn-primary" ng-click="$ctrl.accordionArray[$index] = !$ctrl.accordionArray[$index]">+ Info</button>
                <button class="pull-right btn btn-warning" ng-click="$ctrl.confirmEditCourse($index)">Edit</button>
                <button class="pull-right btn btn-danger" ng-click="$ctrl.confirmDeleteCourse($index)">Delete</button>
              </div>
            </div>
          </uib-accordion>
        </div>

        <div ng-class="'alert alert-' + $ctrl.alertDivContent.type" ng-if="$ctrl.alertDivContent.type === 'danger'">
          <span>{{$ctrl.alertDivContent.msg}}</span>
        </div>
      </div>

      <br><br><br><br>
    </div>
  </div>
</div>
